.header-container {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.40);
    width: 100%;
}
.header-container.empty{
    border: none;
    background: none;
}
.header-row {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.header-row.top {
    justify-content: space-between;
}
.header-row.bottom {
    margin-top: 16px;
    justify-content: space-between;
}

.search-container {
    position: relative;
    flex: 1;
    margin-right: 24px;
}
.search-container input {
    width: 100%;
    height: 64px;
    padding: 14px 16px 14px 48px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 16px;
    color: #B1A1DA;
    background: #FFFFFF;
    outline: none !important;
}
.search-container input::placeholder {
    font-size: 16px;
    color: #B1A1DA;
}
.search-container .search-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
}

.role-container {
    display: flex;
    align-items: center;
    gap: 16px;
}
.role-icon {
    width: 64px;
    height: 64px;
    background: rgba(255, 255, 255, 0.60);
    border: 1px solid #7527B2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.role-icon.active{
    background: #7527B2;
}
.role-icon .icon-group {
    width: 24px;
    height: 24px;
    stroke-width: 2;
    fill: none;
}

.role-toggle {
    display: flex;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 20px;
}
.role-toggle .role-btn {
    padding: 12px 24px;
    border: none;
    background: none;
    font-size: 16px;
    color: #6F66B1;
    cursor: pointer;
    transition: background .2s, color .2s;
    height: 64px;
    border-radius: 20px;
}
.role-toggle .role-btn svg {
    margin-right: 10px;
}
.role-toggle .role-btn.active {
    background: #7527B2;
    color: #FFFFFF;
}
.role-toggle .role-btn.doc.active, .role-toggle .role-btn.lab.active  {
    background: white;
    font-weight: 800;
    color: #291161;
}

.tabs {
    display: flex;
    gap: 24px;
}
.tab {
    background: none;
    border: none;
    font-size: 16px;
    color: #6F66B1;
    padding: 8px 0;
    cursor: pointer;
    position: relative;
    transition: color .2s;
}
.tab:hover,
.tab.active {
    color: #6C00FF;
}
.tab.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #6C00FF;
    border-radius: 2px 2px 0 0;
}

.meta-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    color: #291161;
    font-size: 18px;
    font-weight: 800;
}
.meta-info .edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}
.meta-info .icon-edit {
    width: 16px;
    height: 16px;
    stroke: #6F66B1;
    stroke-width: 2;
    fill: none;
}

.infoHeader{
    border-radius: 20px;
    border: 1px solid #D2CAE8;
    background: rgba(255, 255, 255, 0.40);
    padding: 12px 16px;
    display: flex;
    color: #291161;
    font-size: 16px;
    font-weight: 400;
    max-width: 400px;
    flex: 1;
}
#infoText{
    min-width: 150px;
}
.infoHeaderIcon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.infoHeaderIcon svg{
    width: 100%;
    height: 100%;
}
