<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Temp Pass</title>
</head>
<body>
<p>Welcome to COR-ID!</p>
<p>We’re so glad you chose COR-ID for your password and personal data management! We know what an important choice this is, and we’re honored to help you care for your most sensitive and important pieces of information.</p>
<p>You have been added to the COR-ID system as a patient and can now use all our services. We have generated an initial password for you, please change it soon:</p>
<p>
    Your initial password: - {{temp_pass}}

</p>
<p>Thanks,</p>
<p>Your COR-ID</p>
</body>
</html>